{% extends 'base/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1>Nueva contraseña</h1>
<div class="card card-default" style="width: 58rem;margin:auto;">

	<div class="card-body">
		<div>
			<h5 class="card-title">Card title</h5>
            <form method="post">
            {% csrf_token %}

            {{ form.new_password1.errors }}
            <label class="form-control" for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}

            {{ form.new_password2.errors }}
            <label class="form-control" for="id_new_password2">Confirme contraseña:</label>
            {{ form.new_password2 }}
            <div class="btn-group" role="group" aria-label="Basic example">
                <input class="btn btn-secondary" type="submit" value="Cambiar mi contraseña" />
            </div>
            
            </form>
        </div>
    </div>
</div>
{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

{% endblock %}