{% extends 'base/base.html' %}

{% block title %}
Mi nuevo titulo
{% endblock %}


{% block content %}
<div class="card card-default" style="width: 58rem;margin:auto;">

	<div class="card-body">
		<div>
			<h5 class="card-title">Card title</h5>
			<form method="POST" action="">
			{% csrf_token %}
			{{ form.as_p }}
			<div class="btn-group" role="group" aria-label="Basic example">
				<button  class="btn btn-primary" type="submit">Agregar</button>
				<button  class="btn btn-warning" type="reset">Reset</button>
				<a class="btn btn-danger" style="text-decoration: none;" href="{% url 'mascota_listar' %}">Volver</a>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}